In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from mlxtend.classifier import StackingClassifier
from sklearn.model_selection import cross_val_score

In [2]:
churn=pd.read_csv("C:/Users/User/Downloads/Churn_Modelling.csv")

In [3]:
churn.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [4]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()

churn_encoded = encoder.fit_transform(churn[['Gender', 'Geography']])

churn_encoded = churn_encoded.toarray()

churn.drop(['Gender', 'Geography'], axis=1, inplace=True)
churn_encoded_df = pd.DataFrame(churn_encoded, columns=encoder. get_feature_names_out(['Gender', 'Geography']))
churn = pd.concat([churn, churn_encoded_df], axis=1)

In [5]:
churn.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [6]:
churn.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,1.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0,1.0,0.0,0.0,0.0,1.0
2,502,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,1.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,1.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0,1.0,0.0,0.0,0.0,1.0

In [7]:
X = churn.drop('Exited', axis=1)
y = churn['Exited']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [9]:
rf = RandomForestClassifier(n_estimators=100)
gb = GradientBoostingClassifier()

In [10]:
stacking = StackingClassifier(classifiers=[rf, gb], meta_classifier=gb)

In [11]:
rf_scores = cross_val_score(rf, X_train, y_train, cv=5)
gb_scores = cross_val_score(gb, X_train, y_train, cv=5)

In [12]:
print('Random Forest scores:', rf_scores)
print('Gradient Boosting scores:', gb_scores)

Random Forest scores: [0.868125 0.860625 0.8625   0.858125 0.869375]
Gradient Boosting scores: [0.866875 0.86625  0.859375 0.865625 0.87375 ]

In [13]:
stacking_scores = cross_val_score(stacking, X_train, y_train, cv=5)
print('Stacking scores:', stacking_scores)

Stacking scores: [0.859375 0.861875 0.858125 0.86375  0.87    ]